body {
  font-family: sans-serif;
  margin: 0;
}

a {
  color: black;
}

em {
  color: gray;
}

h1 {
  text-align: center;
}

.link-list {
  width: 300px;
  margin: 0 auto;
}

.link-list li {
  font-size: 20px;
}